*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
{
  background-color: #f8f8f8;
  font-family: Helvetica, sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.form-group{
  padding: 0px 24px;
  margin-bottom: 12px;
}
.form-group label{
  text-transform: uppercase;
}
.form-group input[type]:focus{
  outline: none;
}
.form-group img{
  position: absolute;
  margin-left: -40px;
  margin-top: 20px;
}
.nav-container {
  display: grid;
  grid-template-columns: 4vw 10vw;
  grid-template-rows: 100%;
  grid-gap: 3vw;
  align-items: center;
  text-align: center;
}

.nav-container li {
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .nav-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1vw;
  }
}